<div class="icon__container">
    <div class="icon__container-item">
        <img src="/img/software.png" alt="" id="about-img">
        <h2>Business sites</h2>
        <p>I will unite your products or services with superior designs and user experiences</p>
    </div>
    <div class="icon__container-item">
        <img src="/img/growth.png" alt="" id="about-img">
        <h2>Personal Sites</h2>
        <p>I will help you ignite your personal brand and launch your ideas on the web</p>
    </div>
    <div class="icon__container-item">
        <img src="/img/idea.png" alt="" id="about-img">
        <h2>Frontend Development</h2>
        <p>Together we can bridge the gap between design and development by combining art with technology.</p>
    </div>
</div>