<div class="carousel-container">
    <div class="carousel-slide">
        <img src="/img/art.jpg" alt="" id="lastClone">
        <img src="/img/laptop.jpg" alt="">
        <img src="/img/jelly3.jpg" alt="">
        <img src="/img/art.jpg" alt="">
        <img src="/img/laptop.jpg" alt="" id="firstClone">
    </div>
    <button id="prevBtn">Prev</button>
    <button id="nextBtn">Next</button>
</div>