<div class="carousel">
  <div class="carousel__item item-one">
    <div class="carousel-text">
        <h1>Make your business</h1>
        <h1>shine online</h1>
    </div>
  </div>
  <div class="carousel__item item-two">
    <div class="carousel-text">
        <h2>Make your business</h2>
        <h2>shine online</h2>
    </div>
  </div>
  <div class="carousel__item item-three">
      <div class="carousel-text">
        <h2>Make your business</h2>
        <h2>shine online</h2>
    </div>
  </div>
  <button id="prevBtn">prev</button>
  <button id="nextBtn">next</button>
</div>