<section class="hide-menu hamburger-menu">
    <p id="title">PixelPrism</p>
    <div class="color-overlay"></div>
    <div class="anchor-bin">
        <a href="">home</a>
        <a href="">insights</a>
        <a href="">developers</a>
        <a href="">contact</a>
    </div>
    <div class="hamburger-info">
        <div class="hamburger-info__content">
            <h1>Contact info:</h1>
            <p>Email: exampleaccount@gmail.com</p>
            <p>Go to: <a href="">contact form</a></p>  
        </div>
        <div class="blank-space"></div>
        <div class="hamburger-info__content">
            <h1>Address:</h1>
            <p>Fenton, Michigan</p>
            <p>48430</p>
        </div>
    </div>

</section>