<div class="operations">
    <div class="wrapper">
        <div class="operations__tab-container">
            <button
            class="btn operations__tab step--1 operations__tab--active"
            data-tab="1"
            >
            Search an idea
            </button>
            <button class="btn operations__tab step--2" data-tab="2">
            Design
            </button>
            <button class="btn operations__tab step--3" data-tab="3">
            Develop
            </button>
            <button class="btn operations__tab step--4" data-tab="4">
            Release
            </button>
        </div>
    </div>
    <div
    class="operations__content operations__content--1 operations__content--active"
    >
        <p>
            First, we will start by finding some example websites that we can use 
            as a starting point in creating your professional site.
        </p>
        <a href="">read more</a>
    </div>
    <div class="operations__content operations__content--2">
        <p>
            The design phase has begun. I will then add photos, blend colors, and 
            add animations to build the perfect user interface for your website.

        </p>
        <a href="">read more</a>
    </div>
    <div class="operations__content operations__content--3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
            suscipit obcaecati, natus magnam odio.
        </p>
        <a href="">read more</a>
    </div>
    <div class="operations__content operations__content--4">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
            suscipit obcaecati, natus magnam odio.
        </p>
        <a href="">read more</a>
        
    </div>
</div>