.experience {
    padding-top: 10rem;
    padding-bottom: 20rem;
    &-text {
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            color: rgb(25, 25, 25);
            font-size: 6rem;
            margin-bottom: 3rem;
        }

        & p {
            width: 60vw;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            color: rgb(90, 90, 90);
            font-size: 1.75rem;
            text-align: center;
            line-height: 1.4;
        }
    }
}

.image-container {
    width: 100vw;
    height: 55rem;
    background-image: url(/img/road.jpg);
    background-size: cover;
    background-position: center;
}