<section class="experience">
    <div class="experience-text">
        <h1>User Experience</h1>
        <p>
            Together, we will leave a lasting impression on site visitors by having a user experience 
            that is unique and performant. A positive user experience is the most important 
            aspect to any website; this is why I put so much focus on it. I will combine subtle 
            animations and warm colors in order to leave a lasting impression on the user.
        </p>
    </div>
    <div class="image-container"></div>
</section>