<section class="values">
    <div class="text-container">
        <h1>Fundamentals</h1>
        <img src="/img/thinking.png" alt="" id="thinking">
    </div>
    <div class="value-container">
        <div class="value-container__item">
            <h1>Simple with character</h1>
            <p>
                There's no need to create a cluttered site with too much information. I create
                minimalistic sites without compromising content and style.
            </p>
        </div>
        <div class="value-container__item">
            <h1>With you at every step</h1>
            <p>
            </p>
        </div>
        <div class="value-container__item">
            <h1>Interactive designs</h1>
            <p>
                There's no need to create a cluttered site with too much information. I create
                minimalistic sites without compromising content and style.
            </p>
        </div>
        <div class="value-container__item">
            <h1>Simple with character</h1>
            <p>
                There's no need to create a cluttered site with too much information. I create
                minimalistic sites without compromising content and style.
            </p>
        </div>
        <div class="value-container__item">
            <h1>Simple with character</h1>
            <p>
                There's no need to create a cluttered site with too much information. I create
                minimalistic sites without compromising content and style.
            </p>
        </div>
    </div>
    
</section>